.abHeader{
    vertical-align: top;
    background: #dee2e1;
    width: 220px;
}
.abHeaderTitle{
    font-size: 1.1em;
    padding: 1px 6px 1px 6px;
    font-weight: 700;
}
.abData{
    vertical-align: middle;
    background: #dee2e1;
    padding: 4px;
}
.abCol2{
    display: inline-block;
    column-count: 2;
    column-gap: 12px;
}
.BreakInsideAvoid{
    padding:2px 2px 2px;
    break-inside: avoid;
    page-break-inside: avoid;
    height: min-content;
}
.topB{
    border-top: 2px ridge #888;
}