<table class="topB" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td class="abHeader">
            <div class="abHeaderTitle">ABILITIES</div>
        </td>
        <td class="abData">
            <div class="abCol2">
                <div class="BreakInsideAvoid">
                    ANGELS OF DEATH: This unit has the following abilities, which are described below: And They Shall Know No Fear; Bolter Discipline; Shock Assault; Combat Doctrines.
                </div>
            </div>
        </td>
    </tr>
</table>