.datasheet{
    font-size: 1.1em;
    font-weight: 100;
    font-family: 'ConduitITC', arial;
    border:4px solid #101010;
    border-width: 0px, 4px, 4px, 4px;
}
.dsTitle{
    font-size: 1.67em;
    display:block;
    font-weight: 700;
    margin: 0;
    padding: 7px 0px 7px 0px;
    color: #fefefe;
    background: #101010;
    text-align:center;
}
.powerLvl{
    background-image: url(/assets/img/PowerSign.png);
    background-repeat: no-repeat;
    color: #fefefe;
    font-size: 1.54em;
    font-weight: 400;
    width: 44px;
    height: 42px;
    text-align: center;
    float: left;
    margin-left: 8px;
    margin-top: -4px;
}