<table cellspacing="0">
    <tr class="statRowH">
        <td class="statCell">No</td>
        <td class="statCellName">NAME</td>
        <td class="statCell">M</td>
        <td class="statCell">WS</td>
        <td class="statCell">BS</td>
        <td class="statCell">S</td>
        <td class="statCell">T</td>
        <td class="statCell">W</td>
        <td class="statCell">A</td>
        <td class="statCell">Ld</td>
        <td class="statCell">Sv</td>
    </tr>
    <tr *ngFor="let statLine of statLineList">
        <td class="statCell">{{statLine.minNumber | numOfModelsPipe : statLine.maxNumber }}</td>
        <td class="statCellName"><span>{{statLine.modelName}} <div class="priceTag">{{statLine.pointPrice}}</div></span></td>
        <td class="statCell">{{statLine.move| statPlusPipe:'"'}}</td>
        <td class="statCell">{{statLine.ws | statPlusPipe:"+"}}</td>
        <td class="statCell">{{statLine.bs| statPlusPipe:"+"}}</td>
        <td class="statCell">{{statLine.strength}}</td>
        <td class="statCell">{{statLine.toughness}}</td>
        <td class="statCell">{{statLine.wounds}}</td>
        <td class="statCell">{{statLine.attacks}}</td>
        <td class="statCell">{{statLine.leadership}}</td>
        <td class="statCell">{{statLine.savingThrows| statPlusPipe:"+"}}</td>
    </tr>
</table>