<table cellspacing="0">
    <tr class="statRowH">
        <td class="statCell">No</td>
        <td class="statCellName">NAME</td>
        <td class="statCell">M</td>
        <td class="statCell">WS</td>
        <td class="statCell">BS</td>
        <td class="statCell">S</td>
        <td class="statCell">T</td>
        <td class="statCell">W</td>
        <td class="statCell">A</td>
        <td class="statCell">Ld</td>
        <td class="statCell">Sv</td>
    </tr>
    <tr>
        <td class="statCell">{{statLines.Number}}</td>
        <td class="statCellName">{{statLines.ModelName}}</td>
        <td class="statCell">{{statLines.Move}}</td>
        <td class="statCell">{{statLines.WS}}</td>
        <td class="statCell">{{statLines.BS}}</td>
        <td class="statCell">{{statLines.Strength}}</td>
        <td class="statCell">{{statLines.Toughness}}</td>
        <td class="statCell">{{statLines.Wounds}}</td>
        <td class="statCell">{{statLines.Attacks}}</td>
        <td class="statCell">{{statLines.Leadership}}</td>
        <td class="statCell">{{statLines.SavingThrows}}</td>
    </tr>
</table>