<div class="form-container">
    <div style="min-width: 50%; position: relative;">
        <div class="msg-box" [ngClass]="{'error' : !isSucceedRequest, 'showmsg' : showMsg }">
            <p>{{msgText}}</p>
        </div>
        <button id="btnEdit" class="btn" (click)="onCreateToggle()">{{isEdit ? "Create Ability" : "Edit Ability"}}</button>
        <p class="form-title">{{isEdit ? "Edit "+ability.name : "Create ability"}}</p>
        <div class="form-control" *ngIf="isEdit">
            <label for="AbilityList" class="fm-label">Select Ability</label>
            <select name="AbilityList" id="selAbility" class="select-style" (change)="onSelect(selAbility.value)" [(ngModel)]="abilityList" 
            requiered #selAbility="ngModel">
                <option *ngFor="let abylity of abilityList" [value]="abylity.id">{{abylity.name}}</option>
            </select>
            <!-- <button id="btnDelete" class="btn btn-delete" (click)="onDelete()">Delete {{ability.name}}</button> -->
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="form-control">
                <label for="name" class="fm-label">Name</label>
                <input 
                 type="text" 
                 id="name" 
                 name="name" 
                 class="fm-input" 
                 placeholder="Add name"
                 formControlName="name"
                />
                <!-- required 
                #name="ngModel"
                [ngClass]="{'err' : name.errors?.['required']}"
                [(ngModel)]="ability.name"  -->
                <!-- <div *ngIf="name.errors?.['required']" class="val-err">
                    Name is required.
                </div> -->
            </div>
            <div class="form-control">
                <label for="" class="fm-label">Short name</label>
                <input 
                 type="text" 
                 id="shortName" 
                 name="shortName" 
                 class="fm-input" 
                 placeholder="Add Short Name" 
                 formControlName="shortName"
                />
                <!-- <div *ngIf="shortName.errors?.['required']" class="val-err">
                    Short name is required.
                </div> -->
            </div>
            <div class="form-control">
                <label for="Description" class="fm-label">Description</label>
                <textarea 
                 id="textarea" 
                 name="description" 
                 rows="6" 
                 cols="50" 
                 class="fm-input" 
                 placeholder="Add Description"
                 formControlName="description"
                ></textarea>
                <!-- <div *ngIf="description.errors?.['required']" class="val-err">
                    Description is required.
                </div> -->
            </div >
            <div class="btn-container">
                <input 
                type="submit"
                value="Submit"
                class="btn btn-block">
                <button 
                *ngIf="isEdit" 
                id="btnDelete" 
                class="btn btn-delete" 
                (click)="onDelete()">
                Delete {{ability.name}}
            </button>
            <!-- [disabled]="(description.errors?.['required']) ? true : false" -->

            </div>
            {{form.valid}}
            {{form.status }}
            {{form.get('name')?.value}}
            {{form.get('shortName')?.value }}
            {{form.get('description')?.value }}
            {{form.get('description2')?.value}}
            <!-- <input type="submit" value="Submit" class="btn btn-block">
            <button id="btnDelete" class="btn btn-delete" (click)="onDelete()">Delete {{ability.name}}</button> -->
        </form>
        <!-- <div class="msg-box" [ngClass]="{'error' : !isSucceedRequest, 'showmsg' : showMsg }">
            <p>{{msgText}}</p>
        </div> -->
    </div>
</div>