<div class="form-container">
    <div style="min-width: 50%; position: relative;">
        <div class="msg-box" [ngClass]="{'error' : !isSucceedRequest, 'showmsg' : showMsg }">
            <p>{{msgText}}</p>
        </div>
        <button id="btnEdit" class="btn" (click)="onCreateToggle()">{{isEdit ? "Create Ability" : "Edit Ability"}}</button>
        <p class="form-title">{{isEdit ? "Edit "+ability.name : "Create ability"}}</p>
        <div class="form-control" *ngIf="isEdit">
            <label for="AbilityList" class="fm-label">Select Ability</label>
            <select name="AbilityList" id="selAbility" class="select-style" #selAbility (change)="onSelect(selAbility.value)">
                <option *ngFor="let abylity of abilityList" [value]="abylity.id">{{abylity.name}}</option>
            </select>
            <!-- <button id="btnDelete" class="btn btn-delete" (click)="onDelete()">Delete {{ability.name}}</button> -->
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="form-control">
                <label for="name" class="fm-label">Name</label>
                <input 
                 type="text" 
                 id="name" 
                 name="name" 
                 class="fm-input" 
                 [(ngModel)]="ability.name" 
                 placeholder="Add name" 
                />
            </div>
            <div class="form-control">
                <label for="" class="fm-label">Short name</label>
                <input 
                 type="text" 
                 id="text" 
                 name="shortName" 
                 class="fm-input" 
                 [(ngModel)]="ability.shortName"
                 placeholder="Add Short Name" 
                />
            </div>
            <div class="form-control">
                <label for="Description" class="fm-label">Description</label>
                <textarea 
                 id="text" 
                 name="description" 
                 rows="6" 
                 cols="50" 
                 class="fm-input" 
                 [(ngModel)]="ability.description" 
                 placeholder="Add Description" 
                 style="resize: none"
                >
                </textarea>
            </div >
            <div class="btn-container">
                <input type="submit" value="Submit" class="btn btn-block">
                <button *ngIf="isEdit" id="btnDelete" class="btn btn-delete" (click)="onDelete()">Delete {{ability.name}}</button>
            </div>
            <!-- <input type="submit" value="Submit" class="btn btn-block">
            <button id="btnDelete" class="btn btn-delete" (click)="onDelete()">Delete {{ability.name}}</button> -->
        </form>
        <!-- <div class="msg-box" [ngClass]="{'error' : !isSucceedRequest, 'showmsg' : showMsg }">
            <p>{{msgText}}</p>
        </div> -->
    </div>
</div>