<table class="topB" cellspacing="0" cellpadding="0" width="100%">
    <tr class="statRowH">
        <td class="wTableName"><div class="wTableHead">WEAPON</div></td>
        <td class="wTableRange ct"><div class="wTableHead">RANGE</div></td>
        <td class="wTableType"><div class="wTableHead">TYPE</div></td>
        <td class="wTableStat ct"><div class="wTableHead">S</div></td>
        <td class="wTableStat ct"><div class="wTableHead">AP</div></td>
        <td class="wTableStat ct"><div class="wTableHead">D</div></td>
        <td><div class="wTableHead">ABILITIES</div></td>
    </tr>
    <tr class="statRowH">
        <td><div class="wTablePad">{{WeaponList.WeaponName}}</div></td>
        <td><div class="wTablePad ct">{{WeaponList.Range}}</div></td>
        <td><div class="wTablePad">{{WeaponList.Type}}</div></td>
        <td><div class="wTablePad ct">{{WeaponList.Strength}}</div></td>
        <td><div class="wTablePad ct">{{WeaponList.AP}}</div></td>
        <td><div class="wTablePad ct">{{WeaponList.Damage}}</div></td>
        <td><div class="wTablePad">{{WeaponList.Abilities}}</div></td>
    </tr>
</table>