<table class="topB" cellspacing="0" cellpadding="0" width="100%">
    <tr class="statRowH">
        <td class="wTableName">
            <div class="wTableHead">WEAPON</div>
        </td>
        <td class="wTableRange ct">
            <div class="wTableHead">RANGE</div>
        </td>
        <td class="wTableType">
            <div class="wTableHead">TYPE</div>
        </td>
        <td class="wTableStat ct">
            <div class="wTableHead">S</div>
        </td>
        <td class="wTableStat ct">
            <div class="wTableHead">AP</div>
        </td>
        <td class="wTableStat ct">
            <div class="wTableHead">D</div>
        </td>
        <td>
            <div class="wTableHead">ABILITIES</div>
        </td>
    </tr>
    <tr *ngFor="let weapon of weaponList" class="statRowH">
        <td>
            <div class="wTablePad">{{weapon.name}}</div>
        </td>
        <td>
            <div class="wTablePad ct">{{weapon.range | statPlusPipe:'"'}}</div>
        </td>
        <td>
            <div class="wTablePad">{{weapon.weaponType.typeName+" " | statPlusPipe: weapon.numberOfShot}}</div>
        </td>
        <td>
            <div class="wTablePad ct">{{weapon.strength}}</div>
        </td>
        <td>
            <div class="wTablePad ct">{{'-' | statPlusPipe: weapon.ap}}</div>
        </td>
        <td>
            <div class="wTablePad ct">{{weapon.damage}}</div>
        </td>
        <td>
            <div class="wTablePad" class="nb-theme-default">
                <span *ngFor="let Ability of weapon.weaponAbilities">{{Ability.shortName == null ? "-" : Ability.shortName}}</span>
            </div>
        </td>
    </tr>
</table>